* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.search {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    margin-right: 20px;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/banner.png);
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    justify-content: flex-end;
}
/*

.imgprofile {
    width: 100%;
}
*/

.profile {
    display: flex;
    height: 90px;
    border-radius: 100%;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 10px;
}
.seguidor {
    display: flex;
    margin-top: 10px;
    gap: 30px;
}
.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pjusto {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.btnseguir {
    border: none;
    width: 80px;
    background-color: rgb(55, 162, 250);
    color: white;
    border-radius: 10px;
}
.btnresume {
    border-color: rgb(217, 217, 217);
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.nav {
    display: flex;
    list-style: none;
    gap: 40px;
    cursor: pointer;
}
.nav li {
    position: relative;
}
.nav a {
    text-decoration: none;
    color: black;
    position: relative;
}
.nav a:hover {
    filter: opacity(0.5);
}
.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}
hr {
    width: 80%;
    border: none;
    height: 2px;
    background-color: #0000001c;
    margin: 20px 0;
}

.pesquisa {
    margin-left: 10px;
}
input {
    border: none;
    width: 500px;
    outline: none;
}
.sobre {
    display: flex;
    max-width: 70%;
}
.suporte {
    margin-left: 40px;
}
h2 {
    margin-bottom: 10px;
}
.suport {
    background-color: rgb(234, 234, 234);
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}
a {
    text-decoration: none;
    color: black;
    position: relative;
}
h4 {
    margin-bottom: 20px;
}
.paginaSuporte {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.cliques {
    background-color: rgb(228, 238, 255);
    color: rgba(44, 125, 254, 0.998);;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
.respostas {
    background-color: rgb(247, 254, 232);
    color: rgb(82, 114, 21);
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
.views {
    background-color: rgb(254, 236, 236);
    color: rgb(209, 81, 81);
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}